body {
/*  font-family: "garamond-premier-pro-1","garamond-premier-pro-2";*/
  font-family: Georgia;
  color: #666;
}

a {
  color: #004276;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

p {
  font-size: 15px;
  line-height: 22px;
}

